[build]
builder = "RAILPACK"

[deploy]
startCommand = "bun run db:migrate && bun run start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
